<nz-card nzTitle="Body Composition Analysis">
  <nz-table nzTemplateMode [nzShowPagination]="false">
    <tbody>
      <tr>
        <td><strong>Total Body Water</strong></td>
        <td>(L)</td>
        <td>45.8</td>
        <td>( 35.7 ~43.7 )</td>
      </tr>
      <tr>
        <td><strong>Protein</strong></td>
        <td>(kg)</td>
        <td>12.5</td>
        <td>( 9.7 ~ 11.7 )</td>
      </tr>
      <tr>
        <td><strong>Mineral</strong></td>
        <td>(kg)</td>
        <td>4.25</td>
        <td>( 3.37 ~ 4.04 )</td>
      </tr>
      <tr>
        <td><strong>Body Fat Mass</strong></td>
        <td>(kg)</td>
        <td>27.5</td>
        <td>( 7.5 ~ 15.3 )</td>
      </tr>
      <tr>
        <td><strong>Weight</strong></td>
        <td>(kg)</td>
        <td>90.1</td>
        <td>( 54.1 ~ 73.1 )</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
