<div class="form">
  <!-- <form class="login-form" (ngSubmit)="signIn()">
    <img src="../../../../../assets/images/logo.png" style="width: 64px; margin-left: 120px; " />
    <h2 style="text-align: center;">Login</h2>
    <div class="form-group">
      <label>Username</label>
      <input type="text" [(ngModel)]="loginUser.username" name="username" required />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" [(ngModel)]="loginUser.password" name="password" required />
    </div>
    <div class="login-form-margin">
      <div>
        <label [(ngModel)]="loginUser.rememberMe" name="rememberMe">
          <span>Remember me</span>
        </label>
      </div>
      <div>
        <a class="login-form-forgot">Forgot password</a>
      </div>
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
      [nzLoading]="loaderService.showLoader">Log in</button>
  </form> -->

  <form class="login-form" (ngSubmit)="signIn()">
    <img src="../../../../../assets/images/logo.png" style="width: 64px; margin-left: 120px; " />
    <h4 style="text-align: center;">Login</h4>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username"
        [(ngModel)]="loginUser.username" name="username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="loginUser.password"
        name="password">
      <small id="passwordHelp" class="form-text text-muted">
        <a class="login-form-forgot">Forgot password</a>
      </small>
    </div>
    <button style="margin-top: 20px;" type="submit" class="btn btn-primary btn-block">Login</button>
  </form>
</div>
