<nz-card [nzBodyStyle]="{padding:'24px 10px'}" nzTitle="Muscle-Fat Analysis">
  <nz-table nzTemplateMode [nzShowPagination]="false">
    <tbody>
      <tr app-tested-item name="SMM" unit="kg" [max]="muscleFatAnalysis.skeletalMuscleMass.max"
        [min]="muscleFatAnalysis.skeletalMuscleMass.min" [value]="muscleFatAnalysis.skeletalMuscleMass.value"
        [evaluation]="muscleFatAnalysis.skeletalMuscleMass.testedEvaluation">
      </tr>
      <tr app-tested-item name="Body Fat Mass" unit="kg" [max]="muscleFatAnalysis.bodyFatMass.max"
        [min]="muscleFatAnalysis.bodyFatMass.min" [value]="muscleFatAnalysis.bodyFatMass.value"
        [evaluation]="muscleFatAnalysis.bodyFatMass.testedEvaluation">
      </tr>
      <tr app-tested-item name="Weight" unit="kg" [max]="muscleFatAnalysis.weight.max"
        [min]="muscleFatAnalysis.weight.min" [value]="muscleFatAnalysis.weight.value"
        [evaluation]="muscleFatAnalysis.weight.testedEvaluation">
      </tr>
      <tr app-tested-item name="Waist-Hip Ratio" unit="-" [max]="muscleFatAnalysis.waistHipRatio.max"
        [min]="muscleFatAnalysis.waistHipRatio.min" [value]="muscleFatAnalysis.waistHipRatio.value"
        [evaluation]="muscleFatAnalysis.waistHipRatio.testedEvaluation">
      </tr>
      <tr app-tested-item name="Visceral Fat Level" unit="-" [max]="muscleFatAnalysis.visceralFatLevel.max"
        [min]="muscleFatAnalysis.visceralFatLevel.min" [value]="muscleFatAnalysis.visceralFatLevel.value"
        [evaluation]="muscleFatAnalysis.visceralFatLevel.testedEvaluation">
      </tr>
    </tbody>
  </nz-table>
</nz-card>