<nz-card [nzBodyStyle]="{padding:'24px 10px'}" nzTitle="Muscle-Fat Analysis">
  <nz-table nzTemplateMode [nzShowPagination]="false">
    <tbody>
      <tr app-tested-item name="SMM" unit="kg" [testedResult]="muscleFatAnalysis.skeletalMuscleMass"></tr>
      <tr app-tested-item name="Body Fat Mass" unit="kg" [testedResult]="muscleFatAnalysis.bodyFatMass"></tr>
      <tr app-tested-item name="Weight" unit="kg" [testedResult]="muscleFatAnalysis.weight"></tr>
      <tr app-tested-item name="Waist-Hip Ratio" unit="-" [testedResult]="muscleFatAnalysis.waistHipRatio"></tr>
      <tr app-tested-item name="Visceral Fat Level" unit="-" [testedResult]="muscleFatAnalysis.visceralFatLevel"></tr>
    </tbody>
  </nz-table>
</nz-card>
