.user-summarize {
  text-align: center;
}

.user-summarize p {
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

[nz-icon]:hover {
  color: #1890ff;
  cursor: pointer;
}

nz-form-item {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  margin: 0px !important;
  nz-form-label {
    width: 140px;
    text-align: left;
    letter-spacing: 0.07272727em;
    font-size: 0.6875rem;
    font-weight: 500;
    line-height: 1rem;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
  }
  p{
    margin-top: 4px;
  }
}

nz-form-item:hover {
  background: #fafafa;
}
