<!--
<nz-layout class="layout" [ngClass]="{'right-layout': !isCollapsed}">
  <nz-sider class="menu-sidebar d-none d-md-block" nzCollapsible nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <app-menu menuType="inline"></app-menu>
  </nz-sider>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout> -->

<!-- <div class="clearfix">
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff; padding: 0.25rem 1rem">
      <a class="navbar-brand" href="#">
        <img src="./assets/images/logo.png" alt="logo" height="32">
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        </ul>
        <div class="action">
          <button nz-button nzType="default" nzShape="circle" nzTooltipTitle="Tải ảnh" nzTooltipPlacement="bottom"
            nz-tooltip>
            <i nz-icon nzTheme="fill" nzType="camera"></i>
          </button>
          <button nz-button nzType="default" nzShape="circle" nzTooltipTitle="Thông báo" nzTooltipPlacement="bottom"
            nz-tooltip>
            <i nz-icon nzTheme="fill" nzType="bell"></i>
          </button>
          <nz-avatar nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" [nzSize]="36" nzIcon="user" [nzSrc]="avatar"
            nzPlacement="bottomRight">
          </nz-avatar>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu style="width: 160px;">
              <li nz-menu-item>Thông tin cá nhân</li>
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="logout()">Đăng xuất</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nav>
  </div>
  <div class="row" id="body-row">
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block ">
      <ul nz-menu nzTheme="light" nzMode="inline">
        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="home" nzTheme="outline"></i>
          <a routerLink="/home" routerLinkActive="router-link-active">Home</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="home" nzTheme="outline"></i>
          <a routerLink="/goal" routerLinkActive="router-link-active">Home</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="user" nzTheme="outline"></i>
          <a routerLink="/users" routerLinkActive="router-link-active">Home</a>
        </li>
        <li nz-submenu nzTitle="New" nzIcon="plus">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <i nz-icon nzType="form" nzTheme="outline"></i>
              <a routerLink="/inbody/new" routerLinkActive="router-link-active">InBody</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <i nz-icon nzType="user" nzTheme="outline"></i>
              <a routerLink="/wizard/user/0" routerLinkActive="router-link-active">User</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
    <main class="main-section col">
      <router-outlet></router-outlet>
    </main>
  </div>
</div> -->
<nz-layout>
  <app-header [avatarURL]="avatar"></app-header>
  <app-nav class="d-sm-block d-md-none"></app-nav>
  <nz-layout>
    <nz-sider class="d-none d-md-block" nzCollapsible nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null"
      style="background: #ffffff">
      <app-sider></app-sider>
    </nz-sider>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
