<!-- <nz-select nzPlaceHolder="Select users" nzAllowClear nzShowSearch [(ngModel)]="selectedUser"
  (nzOnSearch)="onSearch($event)" (ngModelChange)="selected($event)" [nzLoading]="isLoading">
  <ng-container *ngFor="let user of optionList">
    <nz-option *ngIf="!isLoading" nzCustomContent [nzLabel]="user.phoneNumber" [nzValue]="user.id">
      {{user.phoneNumber}} - {{user.fullname}}
    </nz-option>
  </ng-container>
</nz-select> -->



<nz-select [(ngModel)]="selectedUser" (nzScrollToBottom)="loadMore()" nzPlaceHolder="Select users" nzAllowClear
  [nzDropdownRender]="renderTemplate" (nzOnSearch)="onSearch($event)" nzShowSearch>
  <nz-option *ngFor="let o of optionList" [nzValue]="o.id" [nzLabel]="o.phoneNumber" nzCustomContent>
    {{o.phoneNumber}} - {{o.fullname}}
  </nz-option>
</nz-select>
<ng-template #renderTemplate>
  <nz-spin *ngIf="isLoading"></nz-spin>
</ng-template>
