<ul nz-menu nzTheme="light" [nzMode]="menuType"
  [ngClass]="{'d-sm-block d-md-none d-flex justify-content-around': menuType == 'horizontal'}"
  [ngStyle]="{'line-height: 48px;': menuType == 'horizontal'}">
  <app-menu-item iconType="home" [url]="['/home']" title="Home" [isShowTitle]="menuType != 'horizontal'">
  </app-menu-item>
  <li nz-submenu nzTitle="Inbody" nzIcon="form" *ngIf="menuType != 'horizontal'">
    <ul>
      <app-menu-item iconType="unordered-list" [url]="['/inbody/list']" title="List"></app-menu-item>
      <app-menu-item iconType="plus" [url]="['/inbody/new']" title="New"></app-menu-item>
    </ul>
  </li>
  <app-menu-item iconType="form" [url]="['/inbody/list']" *ngIf="menuType == 'horizontal'">
  </app-menu-item>
  <app-menu-item iconType="carry-out" [url]="['/meal-plan']" title="Meal plan" [isShowTitle]="menuType != 'horizontal'" >
  </app-menu-item>
  <app-menu-item iconType="calendar" [url]="['/timesheet']" title="Timesheet" [isShowTitle]="menuType != 'horizontal'"
    *ngIf="menuType != 'horizontal'">
  </app-menu-item>
  <app-menu-item iconType="aim" [url]="['/goal']" title="Goal" [isShowTitle]="menuType != 'horizontal'"></app-menu-item>
  <app-menu-item iconType="appstore" [url]="['/album']" title="Album" [isShowTitle]="menuType != 'horizontal'">
  </app-menu-item>
  <app-menu-item iconType="user" [url]="['/user']" title="User" [isShowTitle]="menuType != 'horizontal'"
    *ngIf="menuType != 'horizontal' && checkPermission('canViewUserMenu')">
  </app-menu-item>
</ul>
