<ul nz-menu nzTheme="light" [nzMode]="menuType"
  [ngClass]="{'d-sm-block d-md-none d-flex justify-content-around': menuType == 'horizontal'}"
  [ngStyle]="{'line-height: 48px;': menuType == 'horizontal'}">
  <ng-container *ngFor="let menu of menuItems">
    <ng-container *ngIf="menu.isShow">
      <app-menu-item [iconType]="menu.icon" [url]="menu.url" [title]="menu.title"
        [isShowTitle]="menuType != 'horizontal'" *ngIf="menu.children.length == 0">
      </app-menu-item>
      <li nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon" *ngIf="menu.children.length > 0">
        <ul>
          <ng-container *ngFor="let submenu of menu.children">
            <app-menu-item [iconType]="submenu.icon" [url]="submenu.url" [title]="submenu.title"></app-menu-item>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-container>
</ul>
