<nz-card>
  <div style="height: 76vh; overflow-y: auto;overflow-x: hidden; padding: 6px; margin-top: 8px;">
    <nz-timeline>
      <nz-timeline-item *ngFor="let goalOverview of goalOverviews"
        [nzColor]="!goalOverview.isFinished ? 'blue' : goalOverview.isSuccessful ? 'green' : 'red'">
        <div (click)="selected(goalOverview.id)">
          <p class="timeline-title"><strong>{{goalOverview.description}}</strong></p>
          <p>Ngày bắt đầu: {{goalOverview.startDate | date: 'dd/MM/yyyy'}}</p>
          <p>Ngày kết thúc: {{goalOverview.endDate | date: 'dd/MM/yyyy'}}</p>
        </div>
      </nz-timeline-item>
    </nz-timeline>
</div>
</nz-card>