<nz-card nzTitle="Body Composition History">
  <nz-table nzTemplateMode [nzShowPagination]="false" nzTableLayout="fixed">
    <tbody>
      <tr>
        <td width="80px"><strong>Weight</strong></td>
        <td colspan="9">
          <div style="height:60px;" echarts [options]="chartOptions" [merge]="weightUpdateChartOptions" class="echart">
          </div>
        </td>
      </tr>
      <tr>
        <td width="80px"><strong>SMM</strong></td>
        <td colspan="9">
          <div style="height:60px;" echarts [options]="chartOptions" [merge]="smmUpdateChartOptions" class="echart">
          </div>
        </td>
      </tr>
      <tr>
        <td width="80px"><strong>PBF</strong></td>
        <td colspan="9">
          <div style="height:60px;" echarts [options]="chartOptions" [merge]="pbfUpdateChartOptions" class="echart">
          </div>
        </td>
      </tr>
      <tr>
        <td width="80px"></td>
        <td *ngFor="let testedDate of testedDates">{{testedDate}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
