<nz-card nzTitle="Chế độ ăn">
  <nz-table #nutrition nzBordered [nzData]="nutritions" nzPaginationPosition="top" nzPageSize="4">
    <thead>
      <tr>
        <th style="width: 100px;">Ngày</th>
        <th>Sáng</th>
        <th>Phụ 1</th>
        <th>Trưa</th>
        <th>Phụ 2</th>
        <th>Tối</th>
        <th>Ghi chú</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nutrition.data">
        <td>{{data.date | date: 'dd/MM/yyyy'}}</td>
        <td><img src="{{data.breakfast}}" /></td>
        <td><img src="{{data.extra1}}" /></td>
        <td><img src="{{data.lunch}}" /></td>
        <td><img src="{{data.extra2}}" /></td>
        <td><img src="{{data.dinner}}" /></td>
        <td></td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
