<div class="row">
    <div class="col-lg-4">
        <form nz-form [nzLayout]="'vertical'" [nzAutoTips]="true">
            <div class="row">
                <div class="col-4">
                    <nz-form-item>
                        <nz-form-label>Tổng calo</nz-form-label>
                        <nz-input-group>
                            <nz-input-number [(ngModel)]="mealPlanPeriod.calo" name="calo">
                            </nz-input-number>
                        </nz-input-group>
                    </nz-form-item>
                </div>
                <div class="col-8">
                    <nz-form-item>
                        <nz-form-label>Mục tiêu</nz-form-label>
                        <nz-input-group>
                            <input type="text" [(ngModel)]="mealPlanPeriod.target" name="target" nz-input />
                        </nz-input-group>
                    </nz-form-item>
                </div>
            </div>
            <nz-form-item>
                <nz-form-label>Thời gian</nz-form-label>
                <nz-input-group>
                    <nz-range-picker nzFormat="dd/MM/yyyy" [(ngModel)]="mealPlanPeriod.estimateTime" name="range">
                    </nz-range-picker>
                </nz-input-group>
            </nz-form-item>
            <div class="row">
                <div class="col-4">
                    <nz-form-item>
                        <nz-form-label>Protein %</nz-form-label>
                        <nz-input-group>
                            <nz-input-number [(ngModel)]="mealPlanPeriod.proteinPercent" [nzMin]="0" [nzStep]="0.1"
                                name="protein-percent">
                            </nz-input-number>
                        </nz-input-group>
                    </nz-form-item>
                </div>
                <div class="col-4">
                    <nz-form-item>
                        <nz-form-label>Carb %</nz-form-label>
                        <nz-input-group>
                            <nz-input-number [(ngModel)]="mealPlanPeriod.carbPercent" name="carb-percent">
                            </nz-input-number>
                        </nz-input-group>
                    </nz-form-item>
                </div>
                <div class="col-4">
                    <nz-form-item>
                        <nz-form-label>Fat %</nz-form-label>
                        <nz-input-group>
                            <nz-input-number [(ngModel)]="mealPlanPeriod.fatPercent" name="fat-percent">
                            </nz-input-number>
                        </nz-input-group>
                    </nz-form-item>

                </div>
            </div>
            <nz-form-item>
                <nz-form-label>Ghi chú</nz-form-label>
                <nz-input-group>
                    <textarea rows="6" nz-input [(ngModel)]="mealPlanPeriod.note" name="note"></textarea>
                </nz-input-group>
            </nz-form-item>
        </form>
        <button nz-button nzBlock nzType="primary" (click)="submit()" *ngIf="mealPlanPeriod.id == 0">
            Tạo meal plan cho giai đoạn mới
        </button>
        <button nz-button nzBlock nzType="primary" (click)="save()" *ngIf="mealPlanPeriod.id != 0">
            Cập nhật meal plan cho giai đoạn {{mealPlanPeriod.index}}
        </button>
    </div>
    <div class="col-lg-8">
        <nz-collapse>
            <nz-collapse-panel [nzHeader]="mealPlanPeriod.breakfast.title" nzActive="true">
                <app-meal [meal]="mealPlanPeriod.breakfast" [isView]="false" [isSubmit]="isSubmit"></app-meal>
            </nz-collapse-panel>
            <nz-collapse-panel [nzHeader]="mealPlanPeriod.lunch.title" nzActive="true">
                <app-meal [meal]="mealPlanPeriod.lunch" [isView]="false" [isSubmit]="isSubmit"></app-meal>
            </nz-collapse-panel>
            <nz-collapse-panel [nzHeader]="mealPlanPeriod.beforeWorkout.title" nzActive="true">
                <app-meal [meal]="mealPlanPeriod.beforeWorkout" [isView]="false" [isSubmit]="isSubmit"></app-meal>
            </nz-collapse-panel>
            <nz-collapse-panel [nzHeader]="mealPlanPeriod.dinner.title" nzActive="true">
                <app-meal [meal]="mealPlanPeriod.dinner" [isView]="false" [isSubmit]="isSubmit"></app-meal>
            </nz-collapse-panel>
        </nz-collapse>
    </div>
</div>
