<ul nz-menu nzTheme="light" nzMode="horizontal" class="d-flex justify-content-between">
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="home" nzTheme="outline"></i>
    <a routerLink="/home" routerLinkActive="router-link-active"></a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="form" nzTheme="outline"></i>
    <a routerLink="/inbody" routerLinkActive="router-link-active"></a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="carry-out" nzTheme="outline"></i>
    <a routerLink="/meal-plan" routerLinkActive="router-link-active"></a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="aim" nzTheme="outline"></i>
    <a routerLink="/goal" routerLinkActive="router-link-active"></a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="appstore" nzTheme="outline"></i>
    <a routerLink="/album" routerLinkActive="router-link-active"></a>
  </li>
</ul>
