<nz-card>
    <nz-tabset [(nzSelectedIndex)]="selectedIndex" nzType="editable-card" (nzAdd)="newTab()"
        (nzClose)="closeTab($event)">
        <nz-tab *ngFor="let mealPeriod of mealPeriods; let i = index" [nzTitle]="mealPeriod.title"
            [nzClosable]="mealPeriod.id == 0">
            <app-meal-period [mealPeriod]="mealPeriod" *ngIf="mealPeriod.id > 0"></app-meal-period>
            <app-new-meal-period [mealPeriod]="mealPeriod" *ngIf="mealPeriod.id == 0"></app-new-meal-period>
        </nz-tab>
    </nz-tabset>
</nz-card>
