<div *ngIf="isView">
    <p style="margin:0;" *ngFor="let option of menus">
        {{option}}<br>
    </p>
    <br>
    <p>
        <i>Ghi chú: <br>
            <span *ngFor="let note of notes">{{note}}</span>
        </i>
    </p>
</div>
<div *ngIf="!isView">
    <form nz-form [nzLayout]="'vertical'" [nzAutoTips]="true">
        <nz-form-item>
            <nz-form-label>Menu</nz-form-label>
            <nz-form-control>
                <nz-input-group>
                    <textarea rows="6" nz-input [(ngModel)]="meal.menu" name="menu"></textarea>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Ghi chú</nz-form-label>
            <nz-form-control>
                <nz-input-group>
                    <textarea rows="6" nz-input [(ngModel)]="meal.note" name="note"></textarea>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
