<div class="row" >
  <div class="col-lg-3">
    <app-profile [user]="user"></app-profile>
  </div>
  <div class="col-lg-9">
    <nz-card>
      <nz-tabset [nzTabBarExtraContent]="extraTemplate">
        <nz-tab nzTitle="Chỉ số cơ thể">
         <app-inbody-summarize [inbodys]="inbodys"></app-inbody-summarize>
        </nz-tab>
        <nz-tab nzTitle="Meal plan">
          Content of Tab Pane 2
        </nz-tab>
        <nz-tab nzTitle="Tab 3">
          Content of Tab Pane 3
        </nz-tab>
      </nz-tabset>
      <ng-template #extraTemplate>
        <button nz-button>Extra Action</button>
      </ng-template>
    </nz-card>
  </div>
</div>