<nz-card>
  <div class="row">
    <div class="col-md-2">
      <app-goal-timeline [goalOverviews]="goalOverviews"></app-goal-timeline>
    </div>
    <div class="col-md-10">
      <div style="height: 83vh; overflow-y: auto;overflow-x: hidden; padding: 6px; margin-top: 8px;">
        <nz-result nzStatus="success" nzTitle="Chúc mừng bạn đã hoàn thành mục tiêu!" nzSubTitle="
        Giảm 1.5kg mỡ, Tăng 1kg cơ, Giảm 1.0 kg">
          <div nz-result-content>
            <nz-card>
              <div class="row">
                <div class="col-6">
                  <app-inbody-goal [inbodyGoal]="goal.inbodyGoal"></app-inbody-goal>
                </div>
                <div class="col-3">
                  <app-inbody-image [date]="goal.startDate" [imageUrl]="goal.startDateImage"></app-inbody-image>
                </div>
                <div class="col-3">
                  <app-inbody-image [date]="goal.endDate" [imageUrl]="goal.endDateImage"></app-inbody-image>
                </div>
              </div>
            </nz-card>
            <app-workout [workOuts]="goal.workOuts"></app-workout>
            <app-nutrition [nutritions]="goal.nutritions"></app-nutrition>
          </div>
        </nz-result>
      </div>
    </div>
  </div>
</nz-card>
