<nz-upload class="avatar-uploader" [nzAction]="uploadAPI" nzListType="picture-card" [nzShowUploadList]="false"
  (nzChange)="handleChange($event)">
  <ng-container>
    <img [src]="uploadedPath" *ngIf="isShowAfterUpload && uploadedPath" />
    <div>
      <nz-avatar *ngIf="isAvatar && uploadedPath" [nzSize]="92" nzIcon="user" [nzSrc]="uploadedPath">
      </nz-avatar>
    </div>
    <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'" placeholder="input @ to mention people"></i>
    <div class="ant-upload-text">Upload</div>
  </ng-container>
</nz-upload>
