<div class="card">
  <div class="card-header">
    Body Composition Analysis
  </div>
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr app-tested-item name="Total Body Water" unit="L" [testedResult]="bodyCompositionAnalysis.bodyWater"></tr>
        <tr app-tested-item name="Protein" unit="kg" [testedResult]="bodyCompositionAnalysis.protein"></tr>
        <tr app-tested-item name="Mineral" unit="kg" [testedResult]="bodyCompositionAnalysis.mineral"></tr>
        <tr app-tested-item name="Body Fat Mass" unit="kg" [testedResult]="bodyCompositionAnalysis.bodyFatMass"></tr>
        <tr app-tested-item name="Weight" unit="kg" [testedResult]="bodyCompositionAnalysis.weight"></tr>
      </tbody>
    </table>
  </div>
</div>
