.Over {
  color: #f95353;
}

.SlightlyOver {
  color: #fd802e;
}

.Normal {
  color: #3dd365;
}

.Under {
  color: #87b1d7;
}

[nz-icon] {
  margin-left: 6px;
  font-size: 16px;
}
[nz-icon]:hover {
  color: #1890ff;
  cursor: pointer;
}
