<div class="media-boundary">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <img *ngIf="!editHomeScreen && homeScreen != ''" [src]="homeScreen" />
      <div class="action">
        <i nz-icon nzType="edit" nzTheme="outline" (click)="editHomeScreen = !editHomeScreen"></i>
      </div>
    </div>
  </div>
</div>
<app-uploader *ngIf="editHomeScreen || homeScreen == ''" style="height:  200px;" uploadStyle="upload"
  (uploaded)="uploaded($event)"></app-uploader>
<div class="d-flex justify-content-between overview" style="margin: 10px">
  <div>
    <p>Cân nặng</p>
    <nz-progress [nzPercent]="inbodySummarize.weight" nzType="circle" [nzWidth]="80"
      [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }" [nzFormat]="format"></nz-progress>
  </div>
  <div>
    <p>Cơ</p>
    <nz-progress [nzPercent]="inbodySummarize.skeletalMuscleMass" nzType="circle" [nzWidth]="80"
      [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }" [nzFormat]="format"></nz-progress>
  </div>
  <div>
    <p>Mỡ</p>
    <nz-progress [nzPercent]="inbodySummarize.bodyFatMass" nzType="circle" [nzWidth]="80"
      [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }" [nzFormat]="format"></nz-progress>
  </div>
</div>
