<div class="container" style="height: 80vh; background-color: #ffffff; margin: auto; position: relative;"
  *ngIf="!editHomeScreen && homeScreen != ''">
  <div class="background" [ngStyle]="{'background-image': 'url(' + homeScreen + ')'}"></div>
  <div class="action">
    <i nz-icon nzType="edit" nzTheme="outline" (click)="editHomeScreen = !editHomeScreen"></i>
  </div>
</div>
<app-uploader *ngIf="editHomeScreen || homeScreen == ''" uploadStyle="upload" (uploaded)="uploaded($event)">
</app-uploader>