div {
    display: block;
    text-align: center;
}

image {
    margin-top: 100px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 300px;
}
