<nz-spin [nzSpinning]="loaderService.showLoader" nzTip="Loading...">
  <div class="row">
    <div class="col-xl-8 col-lg-12">
      <nz-table nzTemplateMode nzBordered [nzShowPagination]="false" nzTableLayout="fixed">
        <thead>
          <tr>
            <th>Name</th>
            <th style="width: 60px;">Unit</th>
            <th>Value</th>
            <th>Min</th>
            <th>Max</th>
          </tr>
        </thead>
        <tbody>
          <tr app-tested-item [isView]="false" name="Total Body Water" unit="L"
            [testedResult]="inBodyDetail.bodyCompositionAnalysis.bodyWater"
            [minDisabled]="inBodyDetail.bodyCompositionAnalysis.bodyWater.min != 0"
            [maxDisabled]="inBodyDetail.bodyCompositionAnalysis.bodyWater.max != 0">
          </tr>
          <tr app-tested-item [isView]="false" name="Protein" unit="kg"
            [testedResult]="inBodyDetail.bodyCompositionAnalysis.protein"
            [minDisabled]="inBodyDetail.bodyCompositionAnalysis.protein.min != 0"
            [maxDisabled]="inBodyDetail.bodyCompositionAnalysis.protein.max != 0"></tr>
          <tr app-tested-item [isView]="false" name="Mineral" unit="kg"
            [testedResult]="inBodyDetail.bodyCompositionAnalysis.mineral"
            [minDisabled]="inBodyDetail.bodyCompositionAnalysis.mineral.min != 0"
            [maxDisabled]="inBodyDetail.bodyCompositionAnalysis.mineral.max != 0"></tr>
          <tr app-tested-item [isView]="false" name="Body Fat Mass" unit="kg"
            [testedResult]="inBodyDetail.bodyCompositionAnalysis.bodyFatMass"
            [minDisabled]="inBodyDetail.bodyCompositionAnalysis.bodyFatMass.min != 0"
            [maxDisabled]="inBodyDetail.bodyCompositionAnalysis.bodyFatMass.max != 0"></tr>
          <tr app-tested-item [isView]="false" name="SMM" unit="kg"
            [testedResult]="inBodyDetail.muscleFatAnalysis.skeletalMuscleMass"
            [minDisabled]="inBodyDetail.muscleFatAnalysis.skeletalMuscleMass.min != 0"
            [maxDisabled]="inBodyDetail.muscleFatAnalysis.skeletalMuscleMass.max != 0"></tr>
          <tr app-tested-item [isView]="false" name="Body Fat Mass" unit="kg"
            [testedResult]="inBodyDetail.muscleFatAnalysis.bodyFatMass"
            [minDisabled]="inBodyDetail.muscleFatAnalysis.bodyFatMass.min != 0"
            [maxDisabled]="inBodyDetail.muscleFatAnalysis.bodyFatMass.max != 0"></tr>
          <tr app-tested-item [isView]="false" name="Weight" unit="kg"
            [testedResult]="inBodyDetail.muscleFatAnalysis.weight"
            [minDisabled]="inBodyDetail.muscleFatAnalysis.weight.min != 0"
            [maxDisabled]="inBodyDetail.muscleFatAnalysis.weight.max != 0"></tr>
          <tr app-tested-item [isView]="false" name="Waist-Hip Ratio" unit="-"
            [testedResult]="inBodyDetail.muscleFatAnalysis.waistHipRatio" [isView]="false" [maxDisabled]="true"
            [minDisabled]="true"></tr>
          <tr app-tested-item [isView]="false" name="Visceral Fat Level" unit="-"
            [testedResult]="inBodyDetail.muscleFatAnalysis.visceralFatLevel" [isView]="false" [maxDisabled]="true"
            [minDisabled]="true"></tr>
        </tbody>
      </nz-table>
    </div>
    <div class="col-xl-4 col-lg-12">
      <app-obesity-analysis [obesityAnalysis]="inBodyDetail.obesityAnalysis"></app-obesity-analysis>
      <button style="margin-top: 20px;" nz-button nzType="primary" nzBlock (click)="submit()">Submit</button>
    </div>
  </div>
</nz-spin>
