.isCollapsed {
  margin-top: 100px;
}

.isNotCollapsed {
  margin-top: 50px;
}

.sidebar-logo {
  position: relative;
  height: 48px;
  padding-left: 12px;
  overflow: hidden;
  line-height: 48px;
  background: #001529;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.layout {
  min-height: 100vh;
}

nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
  background: #fff;
}

.right-layout {
  margin-left: 200px;
}

nz-header {
  background: #fff;
  padding: 0;
  // box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  background-color: #001529;
}

nz-content {
  // margin: 24px 16px 0;
  overflow: initial;
}

.inner-content {
  padding: 16px 10px;
}

nz-footer {
  text-align: center;
}

nz-avatar:hover {
  cursor: pointer;
}

nz-breadcrumb {
  margin: 8px 0;
}

.header {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  color: #6b778c;
}

.action {
  nz-avatar {
    margin-left: 16px;
  }
  [nz-button] {
    border: 0px;
    margin: 0 8px;
    [nz-icon] {
      font-size: 20px;
    }
  }
  [nz-button]:hover {
    [nz-icon] {
      color: rgb(0, 82, 204);
    }
    background-color: rgba(222, 235, 255, 0.9);
  }
}
