<div class="header fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff; padding: 0.25rem 1rem">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/logo.png" alt="logo" height="32">
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>
      <div class="action">
        <button nz-button nzType="default" nzShape="circle" nzTooltipTitle="Tải ảnh" nzTooltipPlacement="bottom"
          nz-tooltip>
          <i nz-icon nzTheme="fill" nzType="camera"></i>
        </button>
        <button nz-button nzType="default" nzShape="circle" nzTooltipTitle="Thông báo" nzTooltipPlacement="bottom"
          nz-tooltip>
          <i nz-icon nzTheme="fill" nzType="bell"></i>
        </button>
        <nz-avatar nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" [nzSize]="36" nzIcon="user"
          [nzSrc]="avatar" nzPlacement="bottomRight">
        </nz-avatar>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu style="width: 160px;">
            <li nz-menu-item>Thông tin cá nhân</li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="logout()">Đăng xuất</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </nav>
</div>
<nz-layout class="layout" [ngClass]="{'right-layout': !isCollapsed}">
  <nz-sider class="menu-sidebar d-none d-md-block" nzCollapsible nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/home">
        <img src="./assets/images/logo.png" alt="logo">
        <h1></h1>
      </a>
    </div>
    <app-menu menuType="inline"></app-menu>
  </nz-sider>
  <nz-content>
    <div class="inner-content" [ngClass]="{'isCollapsed': isCollapsed, 'isNotCollapsed': !isCollapsed}">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
