{{isImage}}
<div class="media-boundary">
  <img *ngIf="isImage" [src]="url" />
  <video *ngIf="isImage" controls>
    <source [src]="url" type="video/mp4">
  </video>
  <div class="action">
    <i nz-icon nzType="share-alt" nzTheme="outline" style="font-size: 32px; color: #ffffff;"
      (click)="createTplModal(tplContent, tplFooter)"></i>
  </div>
</div>

<ng-template #tplContent let-params let-ref="modalRef">
  <app-user-mention [(inputValue)]="inputValue" [(mentioned)]="mediaFile.sharedWith" [isMultiRow]="true">
  </app-user-mention>
</ng-template>

<ng-template #tplFooter>
  <div class="">
    <button style="margin-top: 10px;" nz-button (click)="cancel()">
      Cancel
    </button>
    <button style="margin-top: 10px;" nz-button nzType="primary" (click)="share()" [nzLoading]="tplModalButtonLoading">
      Share
    </button>
  </div>
</ng-template>
