.user-summarize {
  text-align: center;
}

.user-summarize p {
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

[nz-icon]:hover {
  color: #1890ff;
  cursor: pointer;
}
