<div class="row justify-content-center align-items-center">
  <nz-card style="width: 600px;">
    <form nz-form [formGroup]="userForm">
      <app-uploader style="height: 200px;" uploadStyle="upload" isAvatar="true" (uploaded)="uploaded($event)"
        [uploadedPath]="userForm.value.avatarURL"></app-uploader>
      <nz-form-item>
        <nz-form-label>Họ tên</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
          <input nz-input formControlName="fullname" placeholder="async validate try to write JasonWood" />
          <ng-template #userErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input your username!
            </ng-container>
            <ng-container *ngIf="control.hasError('duplicated')">
              The username is redundant!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Điện thoại</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
          <input nz-input formControlName="phoneNumber" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Email</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
          <input nz-input formControlName="email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Ngày sinh</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
          <nz-date-picker formControlName="dateOfBirth" nzFormat="dd/MM/yyyy">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Ngày tham gia</nz-form-label>
        <nz-date-picker formControlName="dateJoined" nzFormat="dd/MM/yyyy">
        </nz-date-picker>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Tài khoản</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
          <nz-select formControlName="roleName" nzAllowClear nzPlaceHolder="Chọn loại tài khoản" style="width: 100%;">
            <nz-option *ngFor="let option of roleOptions" [nzValue]="option.value" [nzLabel]="option.label">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Dropbox link</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
          <textarea nz-input placeholder="Dropbox link" formControlName="dropboxToken"
            [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
        </nz-form-control>
      </nz-form-item>
      <div style="margin-top: 20px;">
        <button nz-button nzType="primary" nzBlock *ngIf="isCreate">Tạo mới</button>
        <div class="row">
          <div class="col-6">
            <button nz-button nzBlock *ngIf="!isCreate" (click)="resetForm()">Bỏ thay đổi</button>
          </div>
          <div class="col-6">
            <button nz-button nzType="primary" nzBlock *ngIf="!isCreate" [disabled]="!userForm.valid"
              [nzLoading]="loaderService.isLoading" (click)="save()">Lưu</button>
          </div>
        </div>
      </div>
    </form>
  </nz-card>
</div>
