<!-- <div class="row">
  <div class="col-lg-4">
    <nz-spin [nzSpinning]="userService.isLoading" [nzTip]="userService.state">
      <nz-card>
        <div class="user-summarize">
          <app-uploader style="height: 200px;" uploadStyle="upload" isAvatar="true" (uploaded)="uploaded($event)"
            [uploadedPath]="userService.user.avatarURL"></app-uploader>
          <input nz-input placeholder="Fullname" [(ngModel)]="userService.user.fullname" />
        </div>
        <div class="user-detail">
          <nz-table nzTemplateMode [nzShowPagination]="false" style="margin: 20px 0;">
            <tbody>
              <tr>
                <td class="user-detail-title">Điện thoại:</td>
                <td>
                  <input nz-input placeholder="Phone number" [(ngModel)]="userService.user.phoneNumber" />
                </td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>
                  <input nz-input placeholder="Email" [(ngModel)]="userService.user.email" />
                </td>
              </tr>
              <tr>
                <td>Ngày sinh:</td>
                <td>
                  <nz-date-picker [(ngModel)]="userService.user.dateOfBirth" nzFormat="dd/MM/yyyy">
                  </nz-date-picker>
                </td>
              </tr>
              <tr>
                <td>Ngày tham gia: </td>
                <td>
                  <nz-date-picker [(ngModel)]="userService.user.dateJoined" nzFormat="dd/MM/yyyy">
                  </nz-date-picker>
                </td>
              </tr>
              <tr *ngIf="userService.user.status == 1">
                <td>Mật khẩu: </td>
                <td>
                  <input nz-input disabled [(ngModel)]="userService.user.tempPassword" />
                </td>
              </tr>
              <tr>
                <td>Tài khoản: </td>
                <td>
                  <nz-select [(ngModel)]="userService.user.roleName" nzAllowClear nzPlaceHolder="Chọn loại tài khoản"
                    style="width: 100%;">
                    <nz-option *ngFor="let option of roleOptions" [nzValue]="option.value" [nzLabel]="option.label">
                    </nz-option>
                  </nz-select>
                </td>
              </tr>
              <tr>
                <td>Dropbox link: </td>
                <td>
                  <textarea nz-input placeholder="Dropbox link" [(ngModel)]="userService.user.dropboxToken"
                    [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div class="row">
            <div class="col-6">
              <button nz-button nzBlock (click)="discard()">Bỏ thay đổi</button>
            </div>
            <div class="col-6">
              <button nz-button nzType="primary" nzBlock (click)="save()">Lưu</button>
            </div>
          </div>
        </div>
      </nz-card>
    </nz-spin>
  </div>
  <div class="col-lg-8">
    <nz-card style="min-height: 80vh;">
      <nz-tabset>
        <nz-tab nzTitle="Các gói tập">
          <app-waiting></app-waiting>
        </nz-tab>
        <nz-tab nzTitle="Các gói tập PT">
          <app-waiting></app-waiting>
        </nz-tab>
      </nz-tabset>
    </nz-card>
  </div>
</div> -->
