<div class="row">
  <div class="col-md-4">
    <app-body-composition-analysis></app-body-composition-analysis>
  </div>
  <div class="col-md-4">
    <app-muscle-fat-analysis></app-muscle-fat-analysis>
  </div>
  <div class="col-md-4">
    <app-obesity-analysis></app-obesity-analysis>
  </div>
</div>
<div class="row" style="margin-top: 10px;">
  <div class="col-md-4 col-sm-12">
    <app-inbody-info></app-inbody-info>
  </div>
  <div class="col-md-8 col-sm-12">
    <app-body-composition-history></app-body-composition-history>
  </div>
</div>
