<section class="gird">
  <div>
    <nz-upload class="avatar-uploader" nzAction="https://localhost:44396/api/file/upload" nzListType="picture-card"
      [nzShowUploadList]="false" (nzChange)="handleChange($event)">
      <ng-container *ngIf="!avatarUrl">
        <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
        <div class="ant-upload-text">Upload</div>
      </ng-container>
    </nz-upload>
  </div>
  <div *ngFor="let image of images" (click)="viewImage(image)">
    <img src="{{image}}" />
  </div>
</section>

<nz-modal [nzVisible]="viewImageVisible" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="viewImageVisible = false">
  <ng-template #modalContent>
    <img [src]="viewImageURL" [ngStyle]="{ width: '100%' }" />
  </ng-template>
  <ng-template #modalFooter>
    <nz-mention [nzSuggestions]="webFrameworks" [nzValueWith]="valueWith" (nzOnSelect)="onSelect($event)">
      <input placeholder="@someone" nz-input nzMentionTrigger [(ngModel)]="inputValue" />
      <ng-container *nzMentionSuggestion="let framework">
        <nz-avatar nzSize="small" [nzText]="framework.name" [nzSrc]="framework.icon"></nz-avatar>
        <span>{{ framework.name }} - {{ framework.type }}</span>
      </ng-container>
    </nz-mention>
  </ng-template>
</nz-modal>