<section class="gird">
  <div class="hover" *ngIf="haveUploadButton">
    <app-uploader uploadStyle="storage" (uploaded)="uploaded($event)"></app-uploader>
  </div>
  <div *ngFor="let mediaFile of mediaFiles"
    (click)="!mediaFile.isTemp ? viewMedia(mediaFile) : null"
    [ngClass]="{'hover': !mediaFile.isTemp}">
    <img *ngIf="mediaFile.isTemp" style="display: none;" />
    <img *ngIf="!mediaFile.isVideo && !mediaFile.isTemp" [lazyLoad]="mediaFile.url" [customObservable]="scroll$"/>
    <video *ngIf="mediaFile.isVideo && !mediaFile.isTemp">
      <source src="{{mediaFile.url}}" type="video/mp4">
    </video>
  </div>
</section>
