<nz-layout>
  <nz-sider class="menu-sidebar d-none d-md-block" nzCollapsible nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>nav 1</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="video-camera"></i>
        <span>nav 2</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="upload"></i>
        <span>nav 3</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="bar-chart"></i>
        <span>nav 4</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="cloud-o"></i>
        <span>nav 5</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="appstore-o"></i>
        <span>nav 6</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="team"></i>
        <span>nav 7</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="shop"></i>
        <span>nav 8</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="layout" [ngClass]="{'right-layout': !isCollapsed}">
    <div [ngClass]="{'fixed-top': isCollapsed}">
      <div [ngClass]="{'fixed-top': !isCollapsed, 'right-layout': !isCollapsed}">
        <nz-header>
          <div class="d-flex justify-content-between">
            <div>
            </div>
            <div>
              <a nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
                <nz-avatar nzIcon="user" style="margin-right: 6px;"></nz-avatar>
              </a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="logout()">Logout</li>
                  <li nz-menu-item>2nd menu item</li>
                  <li nz-menu-item>3rd menu item</li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
        </nz-header>
      </div>
      <nz-header class="d-sm-block d-md-none">
        <ul nz-menu nzMode="horizontal" class="d-flex justify-content-between">
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="calendar" nzTheme="outline"></i>
            <a [routerLink]="['/timesheet']" routerLinkActive="router-link-active">
              Timesheet
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="trophy" nzTheme="outline"></i>
            <a [routerLink]="['/goal']" routerLinkActive="router-link-active">
              Goal
            </a>
          </li>
        </ul>
      </nz-header>
    </div>
    <nz-content>
      <div class="inner-content" [ngClass]="{'isCollapsed': isCollapsed, 'isNotCollapsed': !isCollapsed}">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>