<nz-layout>
  <nz-sider class="menu-sidebar d-none d-md-block" nzCollapsible nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/home">
        <img src="assets/images/logo.png" alt="logo">
        <h1></h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter nz-tooltip nzTooltipPlacement="right">
        <i nz-icon nzType="home" nzTheme="outline"></i>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">
          <span *ngIf="!isCollapsed">Home</span>
        </a>
      </li>
      <li nz-submenu nzTitle="Inbody" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
            <a [routerLink]="['/inbody/list']" routerLinkActive="router-link-active">
              <span *ngIf="!isCollapsed">List</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="plus" nzTheme="outline"></i>
            <a [routerLink]="['/inbody/new']" routerLinkActive="router-link-active">
              <span *ngIf="!isCollapsed">New</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-menu-item nzMatchRouter nz-tooltip nzTooltipPlacement="right">
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        <a [routerLink]="['/timesheet']" routerLinkActive="router-link-active">
          <span *ngIf="!isCollapsed">Timesheet</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nz-tooltip nzTooltipPlacement="right">
        <i nz-icon nzType="check-square" nzTheme="outline"></i>
        <a [routerLink]="['/goal']" routerLinkActive="router-link-active">
          <span *ngIf="!isCollapsed">Goal</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nz-tooltip nzTooltipPlacement="right">
        <i nz-icon nzType="trophy" nzTheme="outline"></i>
        <a [routerLink]="['/reward']" routerLinkActive="router-link-active">
          <span *ngIf="!isCollapsed">Reward</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nz-tooltip nzTooltipPlacement="right">
        <i nz-icon nzType="snippets" nzTheme="outline"></i>
        <a [routerLink]="['/blog']" routerLinkActive="router-link-active">
          <span *ngIf="!isCollapsed">Blog</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nz-tooltip nzTooltipPlacement="right">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <a [routerLink]="['/user']" routerLinkActive="router-link-active">
          <span *ngIf="!isCollapsed">User</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="layout" [ngClass]="{'right-layout': !isCollapsed}">
    <div [ngClass]="{'fixed-top': isCollapsed}">
      <div [ngClass]="{'fixed-top': !isCollapsed, 'right-layout': !isCollapsed}">
        <nz-header style="height: 48px;">
          <div class="sidebar-logo d-sm-block d-md-none">
            <a href="/home">
              <img src="assets/images/logo.png" alt="logo">
              <h1></h1>
            </a>
          </div>
          <div class="sidebar-logo d-none d-md-block" style="float: right; margin-right: 8px;">
            <a nz-dropdown [nzDropdownMenu]="menu">
              <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item (click)="logout()">Logout</li>
                <li nz-menu-item>2nd menu item</li>
                <li nz-menu-item>3rd menu item</li>
              </ul>
            </nz-dropdown-menu>
          </div>
          <ul nz-menu nzMode="horizontal" class="d-sm-block d-md-none d-flex justify-content-around"
            style="line-height: 48px;">
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/home']" routerLinkActive="router-link-active">
                <i nz-icon nzType="home" nzTheme="outline"></i>
              </a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/inbody/list']" routerLinkActive="router-link-active">
                <i nz-icon nzType="form" nzTheme="outline"></i>
              </a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/timesheet']" routerLinkActive="router-link-active">
                <i nz-icon nzType="calendar" nzTheme="outline"></i>
              </a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/goal']" routerLinkActive="router-link-active">
                <i nz-icon nzType="check-square" nzTheme="outline"></i>
              </a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/reward']" routerLinkActive="router-link-active">
                <i nz-icon nzType="trophy" nzTheme="outline"></i>
              </a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/blog']" routerLinkActive="router-link-active">
                <i nz-icon nzType="snippets" nzTheme="outline"></i>
              </a>
            </li>
          </ul>
        </nz-header>
      </div>
    </div>
    <nz-content>
      <div class="inner-content" [ngClass]="{'isCollapsed': isCollapsed, 'isNotCollapsed': !isCollapsed}">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>