<section class="gird">
  <div>
    <app-uploader uploadStyle="storage" (uploaded)="uploaded($event)"></app-uploader>
  </div>
  <div *ngFor="let image of images" (click)="createTplModal(image, tplContent, tplFooter)">
    <img *ngIf="image.fileType != 'mp4'" src="{{image.url}}" />
    <video *ngIf="image.fileType == 'mp4'">
      <source src="{{image.url}}" type="video/mp4">
    </video>
  </div>
</section>

<ng-template #tplContent let-params let-ref="modalRef">
  <img *ngIf="selectedImage.fileType != 'mp4'" [src]="selectedImage.url" [ngStyle]="{ width: '100%' }" />
  <video *ngIf="selectedImage.fileType == 'mp4'" [ngStyle]="{ width: '100%' }" autoplay controls>
    <source [src]="selectedImage.url" type="video/mp4">
  </video>
</ng-template>
<ng-template #tplFooter>
  <app-user-mention [(inputValue)]="inputValue" [(mentioned)]="selectedImage.sharedWith"></app-user-mention>
  <div class="">
    <button style="margin-top: 10px;" nz-button (click)="cancel()">
      Cancel
    </button>
    <button style="margin-top: 10px;" nz-button nzType="primary" (click)="share()" [nzLoading]="tplModalButtonLoading">
      Share
    </button>
  </div>
</ng-template>
