<section class="gird">
  <div>
    <app-uploader uploadStyle="storage" (uploaded)="uploaded($event)"></app-uploader>
  </div>
  <div *ngFor="let image of images" (click)="createTplModal(image, tplContent, tplFooter)">
    <img src="{{image.url}}" />
  </div>
</section>

<ng-template #tplContent let-params let-ref="modalRef">
  <img [src]="selectedImage.url" [ngStyle]="{ width: '100%' }" />
</ng-template>
<ng-template #tplFooter>
  <app-user-mention [(inputValue)]="inputValue" [(mentioned)]="selectedImage.sharedWith"></app-user-mention>
  <div class="">
    <button style="margin-top: 10px;" nz-button (click)="cancel()">
      Cancel
    </button>
    <button style="margin-top: 10px;" nz-button nzType="primary" (click)="share()" [nzLoading]="tplModalButtonLoading">
      Share
    </button>
  </div>
</ng-template>
