<div class="form">
  <form nz-form [nzLayout]="'vertical'" [nzAutoTips]="true" class="login-form" (ngSubmit)="changePassword()"
    [formGroup]="form">
    <img src="../../../../../assets/images/logo.png" style="width: 64px; margin-left: 120px; " />
    <h2 style="text-align: center;">Change password</h2>
    <p style="text-align: center;">Need to change password for the first login</p>
    <nz-form-item>
      <nz-form-label>Current password</nz-form-label>
      <nz-form-control nzHasFeedback nzErrorTip="Vui lòng nhập mật khẩu hiện tại">
        <nz-input-group>
          <input type="password" nz-input nzSize="large" formControlName="currentPassword" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>New password</nz-form-label>
      <nz-form-control nzHasFeedback nzErrorTip="Vui lòng nhập mật khẩu mới">
        <nz-input-group>
          <input type="password" nz-input nzSize="large" formControlName="newPassword" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Confirm password</nz-form-label>
      <nz-form-control nzHasFeedback nzErrorTip="Mật khẩu xác nhận không khớp">
        <nz-input-group>
          <input type="password" nz-input nzSize="large" formControlName="confirmPassword" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
      [nzLoading]="loaderService.isLoading">Change password</button>
  </form>
</div>
