<nz-mention [nzSuggestions]="suggestions" [nzLoading]="loaderService.isShowLoader(userMentionRequest.getLoadingKey())"
  (nzOnSearchChange)="onSearchChange($event)" [nzValueWith]="valueWith" (nzOnSelect)="onSelectedMention($event)">
  <textarea nz-input [nzAutosize]="isMultiRow ? { minRows: 4, maxRows: 4 } : { minRows: 1, maxRows: 1 }"
    [(ngModel)]="inputValue" (ngModelChange)="onChange($event)" nzMentionTrigger> </textarea>
  <ng-container *nzMentionSuggestion="let userMention">
    <nz-avatar nzSize="small" [nzText]="userMention.fullname" [nzSrc]="userMention.avatarURL"></nz-avatar>
    <span>{{ userMention.fullname }}</span>
  </ng-container>
</nz-mention>
