<nz-card *ngIf="mealPlanPeriods.length > 0">
  <nz-tabset [(nzSelectedIndex)]="selectedIndex" nzType="editable-card" (nzAdd)="newTab()" (nzClose)="closeTab($event)"
    [nzHideAdd]="isHideAddIcon || isView">
    <nz-tab *ngFor="let mealPeriod of mealPlanPeriods; let i = index" [nzTitle]="mealPeriod.title"
      [nzClosable]="mealPeriod.id == 0">
      <app-meal-period [mealPlanPeriod]="mealPeriod" (changeToEditState)="changeToEditState($event)"
        *ngIf="mealPeriod.isView"></app-meal-period>
      <app-editable-meal-period [mealPlanPeriod]="mealPeriod"
        *ngIf="!mealPeriod.isView && authService.isClaimValid('CanCreateOrEditMealPlan')"
        (submitSuccess)="submitSuccess($event)"></app-editable-meal-period>
    </nz-tab>
  </nz-tabset>
</nz-card>
<nz-empty *ngIf="mealPlanPeriods.length == 0"
  nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg">
</nz-empty>
