<nz-table nzTemplateMode [nzShowPagination]="false" nzTableLayout="fixed">
  <thead>
    <tr>
      <th></th>
      <th>Bắt đầu</th>
      <th>Mục tiêu</th>
      <th>Kết quả</th>
      <th style="width: 50px;"></th>
    </tr>
  </thead>
  <tbody>
    <tr app-inbody-goal-item [item]="inbodyGoal.weight" itemName="cân">
    </tr>
    <tr app-inbody-goal-item [item]="inbodyGoal.smm" itemName="cơ">
    </tr>
    <tr app-inbody-goal-item [item]="inbodyGoal.bfm" itemName="mỡ">
    </tr>
  </tbody>
</nz-table>
