<nz-card nzTitle="Obesity Analysis">
  <nz-table nzTemplateMode [nzShowPagination]="false">
    <tbody>
      <tr app-tested-item name="BMI" unit="kg/m2" [max]="obesityAnalysis.bmi.max" [min]="obesityAnalysis.bmi.min"
        [value]="obesityAnalysis.bmi.value" [evaluation]="obesityAnalysis.bmi.testedEvaluation">
      </tr>
      <tr app-tested-item name="PBF" unit="%" [max]="obesityAnalysis.pbf.max" [min]="obesityAnalysis.pbf.min"
        [value]="obesityAnalysis.pbf.value" [evaluation]="obesityAnalysis.pbf.testedEvaluation">
      </tr>
    </tbody>
  </nz-table>
  <nz-table nzTemplateMode [nzShowPagination]="false" class="d-none d-sm-block">
    <thead>
      <tr>
        <th colspan="4">Evaluation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>BMI </strong></td>
        <td colspan="3">
          <nz-checkbox-wrapper style="width: 100%;">
            <div class="d-flex justify-content-between">
              <label nzDisabled nz-checkbox nzValue="evaluation[evaluation.Normal]"
                [ngModel]="obesityAnalysis.bmiEvaluation == evaluation.Normal">{{evaluation[evaluation.Normal]}}</label>
              <label nzDisabled nz-checkbox nzValue="evaluation[evaluation.Under]"
                [ngModel]="obesityAnalysis.bmiEvaluation == evaluation.Under">{{evaluation[evaluation.Under]}}</label>
              <label nzDisabled nz-checkbox nzValue="evaluation[evaluation.SlightlyOver]"
                [ngModel]="obesityAnalysis.bmiEvaluation == evaluation.SlightlyOver">{{evaluation[evaluation.SlightlyOver]}}</label>
              <label nzDisabled nz-checkbox nzValue="evaluation[evaluation.Over]"
                [ngModel]="obesityAnalysis.bmiEvaluation == evaluation.Over">{{evaluation[evaluation.Over]}}</label>
            </div>
          </nz-checkbox-wrapper>
        </td>
      </tr>
      <tr>
        <td><strong>PBF</strong></td>
        <td colspan="3">
          <nz-checkbox-wrapper style="width: 100%;">
            <div class="d-flex justify-content-between">
              <label nzDisabled nz-checkbox nzValue="evaluation[evaluation.Normal]"
                [ngModel]="obesityAnalysis.pbfEvaluation == evaluation.Normal">{{evaluation[evaluation.Normal]}}</label>
              <label nzDisabled nz-checkbox nzValue="evaluation[evaluation.Under]"
                [ngModel]="obesityAnalysis.pbfEvaluation == evaluation.Under">{{evaluation[evaluation.Under]}}</label>
              <label nzDisabled nz-checkbox nzValue="evaluation[evaluation.SlightlyOver]"
                [ngModel]="obesityAnalysis.pbfEvaluation == evaluation.SlightlyOver">{{evaluation[evaluation.SlightlyOver]}}</label>
              <label nzDisabled nz-checkbox nzValue="evaluation[evaluation.Over]"
                [ngModel]="obesityAnalysis.pbfEvaluation == evaluation.Over">{{evaluation[evaluation.Over]}}</label>
            </div>
          </nz-checkbox-wrapper>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
