<!-- <form class="form-row d-flex justify-content-between" nz-form nzLayout="'vertical'">
  <nz-form-item>
    <nz-form-label>Tested date</nz-form-label>
    <nz-form-control>
      <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
   <p>Score</p>
  </nz-form-item>
</form> -->

<div class="d-flex justify-content-between">
  <div>
    <p>Tested date:</p>
    <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
  </div>
  <nz-statistic [nzValue]="72" [nzSuffix]="'/ 100'"></nz-statistic>
</div>

<nz-card nzTitle="Muscle-Fat Analysis">
  <nz-table nzTemplateMode [nzShowPagination]="false">
    <tbody>
      <tr>
        <td><strong>SMM</strong></td>
        <td>(kg)</td>
        <td>34.9</td>
        <td>( 7.5 ~ 15.3 )</td>
      </tr>
      <tr>
        <td><strong>Body Fat Mass</strong></td>
        <td>(kg)</td>
        <td>27.5</td>
        <td>( 7.5 ~ 15.3 )</td>
      </tr>
      <tr>
        <td><strong>Waist-Hip Ratio</strong></td>
        <td>-</td>
        <td>1</td>
        <td>( 0.8 ~ 0.9 )</td>
      </tr>
      <tr>
        <td><strong>Visceral Fat Level</strong></td>
        <td>-</td>
        <td>11</td>
        <td>( 0 ~ 10 )</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>