<nz-card nzTitle="Muscle-Fat Analysis">
  <nz-table nzTemplateMode [nzShowPagination]="false">
    <tbody>
      <tr>
        <td><strong>SMM</strong></td>
        <td>(kg)</td>
        <td>{{muscleFatAnalysis.skeletalMuscleMass}}</td>
        <td>( 7.5 ~ 15.3 )</td>
      </tr>
      <tr>
        <td><strong>Body Fat Mass</strong></td>
        <td>(kg)</td>
        <td>{{muscleFatAnalysis.bodyFatMass}}</td>
        <td>( 7.5 ~ 15.3 )</td>
      </tr>
      <tr>
        <td><strong>Weight</strong></td>
        <td>(kg)</td>
        <td>{{muscleFatAnalysis.weight}}</td>
        <td>( 54.1 ~ 73.1 )</td>
      </tr>
      <tr>
        <td><strong>Waist-Hip Ratio</strong></td>
        <td>-</td>
        <td>{{muscleFatAnalysis.waistHipRatio}}</td>
        <td>( 0.8 ~ 0.9 )</td>
      </tr>
      <tr>
        <td><strong>Visceral Fat Level</strong></td>
        <td>-</td>
        <td>{{muscleFatAnalysis.visceralFatLevel}}</td>
        <td>( 0 ~ 10 )</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
